/* This bit is for css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Below is where the style begins */
body {
    width: 100%;
	height: 100%;
	overflow: auto;
    font-family: 'Karla', sans-serif;
    background-color: hsl(204, 43%, 93%);
}

.card {
    width: 375px;
    height: auto;
    margin: 5% auto;
    text-align: left;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.top-part {
    padding: 0 8%;
    background-color: white;
    border-radius: 10px 10px 0 0;
}

.community {
    font-size: 25px;
    font-weight: 700;
    color: hsl(218, 22%, 67%);
    padding-top: 6%;
    margin: 6% 0;
}

.hassle-free {
    font-size: 18px;
    font-weight: 700;
    color: hsl(71, 73%, 54%);
    margin-bottom: 6%;
}

.top-text {
    font-size: 15px;
    font-weight: 400;
    color: hsl(218, 22%, 67%);
    line-height: 25px;
    padding-bottom: 8%;
}

.bottom-part{
    display: flex;
    flex-direction: column;
}

.bottom-part-top {
    padding: 0 8%;
    background-color: hsl(179, 62%, 43%);
}

.monthly {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.price {
    margin-bottom: 4%;
    font-size: 35px;
    font-weight: 700;
    color: white;
}

.price-text {
    font-size: 15px;
    vertical-align: middle;
    font-weight: 700;
    margin-left: 3%;
    color: hsl(180, 22%, 67%);
}

.middle-text {
    font-size: 15px;
    font-weight: 400;
    color: white;
    margin-bottom: 8%;
}

.sign-up {
    font-size: 15px;
    font-weight: 700;
    color: white;
    text-align: center;
    background-color: hsl(71, 73%, 54%);
    padding: 4% 40%;
    margin-bottom: 8%;
    border-style: none;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.bottom-part-bot {
    padding: 0 8%;
    background-color: hsl(218, 22%, 67%);
    border-radius: 0 0 10px 10px;
}

.why {
    margin-top: 8%;
    margin-bottom: 8%;
    font-size: 22px;
    font-weight: 700;
    color: white;
}

.why-text {
    color: white;
    font-size: 15px;
    word-spacing: 3px;
    line-height: 20px;
    margin-right: 45%;
    margin-bottom: 5%;
}

@media(min-width: 500px) {
    .card {
        width: 700px;
        height: auto;
    }

    .hassle-free {
        margin-bottom: 3%;
    }

    .top-text {
        font-size: 17px;
    }

    .bottom-part {
        flex-direction: row;
    }

    .bottom-part-top {
        text-align: left;
        padding-left: 5%;
        padding-right: 0;
        width: 50%;
        border-radius: 0 0 0 10px ;
    }

    .middle-text {
        font-size: 17px;
    }

    .sign-up {
        padding: 5% 33%;
    }

    .bottom-part-bot {
        padding-left: 8%;
        padding-right: 0;
        width: 50%;
        border-radius: 0 0 10px 0;
    }

    .why {
        margin-top: 5%;
    }

    .why-text {
        font-size: 15px;
    }
}